{% extends "bootstrap/base.html" %}

{% block title %}
	Hostess Robot
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
	{% block scripts %}
		<script type="text/javascript" src="{{ url_for('.static', filename='scripts.js') }}"></script>
		{{ super() }}
	{% endblock %}
	<div class="container">
		<div class="page-header">
			<h1>Utenti Registrati</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<table class="table" id="tabella">
				    <thead>
						<tr>
							<th>Seleziona</th>
							<th>ID</th>
					        <th>Nome</th>
					        <th>Cognome</th>
					        <th>E-Mail</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
						<tr>
							<td><input type="checkbox"></td>
							<td><script>document.write(fixedDigit({{ user.id }}))</script></td>
							<td>{{ user.name }}</td>
							<td>{{ user.surname }}</td>
							<td>{{ user.email }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="page-footer">
			<input class="btn btn-default" type="submit" value="Rimuovi utente selezionato" onclick="deleteUsers()" />
			<input class="btn btn-default" type="submit" value="Ritorna al menù principale" onclick="window.location='/index';" />
			<span class="stretch"></span>
		</div>
	</div>
{% endblock %}
