{% extends "bootstrap/base.html" %}

{% block title %}
	Hostess Robot
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
<div class="container">
	<div class="page-header">
		<h1>Strumenti di amministrazione</h1>
	</div>
	<div class="row">
		<div class="col-md-12 stretched-div">
			<input class="btn btn-default" type="submit" value="Aggiungi nuovo utente" onclick="window.location='/new_user';" />
			<input class="btn btn-default" type="submit" value="Rimuovi utente" onclick="window.location='/delete_user';" />
			<input class="btn btn-default" type="submit" value="Visualizza utenti memorizzati" onclick="window.location='/users';" />
			<span class="stretch"></span>
		</div>
		<div class="col-md-12 stretched-div">
			<input class="btn btn-default" type="submit" value="Aggiungi nuova destinazione" onclick="window.location='/new_goal';" />
			<input class="btn btn-default" type="submit" value="Rimuovi destinazione" onclick="window.location='/delete_goal';" />
			<input class="btn btn-default" type="submit" value="Visualizza destinazioni memorizzate" onclick="window.location='/goals';" />
			<span class="stretch"></span>
		</div>
	</div>
</div>
{% endblock %}
