{% extends "bootstrap/base.html" %}

{% block title %}
	Hostess Robot
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
	{% block scripts %}
		<script type="text/javascript" src="{{ url_for('.static',filename='scripts.js') }}"></script>
		{{ super() }}
	{% endblock %}
	<div class="container">
		<div class="page-header">
			<h1>Aggiungi nuova destinazione</h1>
		</div>
		<table style="width: 100%">
			<tr>
				<td width="48%" style="vertical-align: top;">
					<form method="POST" id="form">
						{{ form.hidden_tag() }}
						{{ wtf.form_errors(form, hiddens="only") }}
						{{ wtf.form_field(form.label, placeholder=form.label.label.text) }}
						{{ wtf.form_field(form.x, placeholder='0.0') }}
						{{ wtf.form_field(form.y, placeholder='0.0') }}
					</form>
				</td>
				<td width="4%"></td>
				<td width="48%"><img id="map" src="{{ url_for('.static', filename=map.filename) }}" width="100%" draggable="false"></td>
			</tr>
		</table>
		<div class="page-footer">
			<input class="btn btn-default" type="button" value="Aggiungi destinazione" onclick="document.getElementById('form').submit();" />
			<input class="btn btn-default" type="submit" value="Resetta campi" onclick="document.getElementById('form').reset();" />
			<input class="btn btn-default" type="button" value="Ritorna al menù principale" onclick="window.location='/index';" />
			<span class="stretch"></span>
		</div>
	</div>
	<script>
		$("#form").bind("reset", resetGoalForm);
		$("#x").prop('readonly', true);
		$("#y").prop('readonly', true);
		
		var dragging = false;
		
		$('#map').mousedown(function(e)
		{
			var offset = $(this).offset();
			var percentX = (e.pageX - offset.left) / this.width;
			var percentY = (e.pageY - offset.top) / this.height;
			
			var x = minX + ((maxX - minX) * percentX);
			var y = minY + ((maxY - minY) * percentY);
			
			$("#x").val(x.toPrecision(x.toString().indexOf('.') + 2));
			$("#y").val(y.toPrecision(y.toString().indexOf('.') + 2));
			
			dragging = true;
		});
		
		$('#map').mouseup(function()
		{
			dragging = false;
		});
		
		$('#map').mouseleave(function()
		{
			dragging = false;
		});
		
		var minX = parseFloat({{ map.minX }});
		var maxX = parseFloat({{ map.maxX }});
		var minY = parseFloat({{ map.minY }});
		var maxY = parseFloat({{ map.maxY }});
		
		$('#map').mousemove(function(e)
		{
			if(dragging)
			{
				var offset = $(this).offset();
				var percentX = (e.pageX - offset.left) / this.width;
				var percentY = (e.pageY - offset.top) / this.height;
				
				var x = minX + ((maxX - minX) * percentX);
				var y = minY + ((maxY - minY) * percentY);
				
				$("#x").val(x.toPrecision(x.toString().indexOf('.') + 2));
				$("#y").val(y.toPrecision(y.toString().indexOf('.') + 2));
			}
		});
	</script>
{% endblock %}
