
{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}


{% import "bootstrap/wtf.html" as wtf %}



{% block body %}

<div class="container">
	<div class="page-header"> <h1>Calibrazione Nuovo Utente</h1>
</div>
<table style="width: 100%">
	<tr>
		<td width="50%">
			<div class="row">
				<progress class="progress" value="0" max="100"></progress>
			</div>
		</td>
		<td width="50%">
			<img class="img-responsive center-block" src="http://localhost:8080/stream?topic=/robot/rgb/image_raw" width="100%">
		</td>
	</tr>
</table>
</div>

{% endblock %}
