{% extends "bootstrap/base.html" %}

{% block title %}
	Hostess Robot
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('.static', filename='styles.css') }}">
{% endblock %}

{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
	{% block scripts %}
		<script type="text/javascript" src="{{ url_for('.static', filename='scripts.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js) }}"></script>
    	<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
		{{ super() }}
	{% endblock %}
	<div class="container">
		<div class="page-header">
			<h1>Calibrazione nuovo utente</h1>
		</div>
		<table style="width: 100%">
			<tr>
				<td width="50%">
					<table style="width: 100%">
						<tr>
							<th width="50%">Nome:</th>
							<td width="50%">{{ form.name.data }}</td>
						</tr>
						<tr>
							<th width="50%">Cognome:</th>
							<td width="50%">{{ form.surname.data }}</td>
						</tr>
						<tr>
							<th width="50%">E-mail:</th>
							<td width="50%">{{ form.mail.data }}</td>
						</tr>
						<tr>
							<th width="50%">Goal:</th>
							<td width="50%">{{ goal.label }}</td>
						</tr>
					</table>
					<progress id="progress" value="0" max="100">ciao</progress>
				</td>
				<td>
					<img id="stream" width="100%" >
				</td>
			</tr>
		</table>
		<div class="page-footer">
			<input class="btn btn-default" type="button" value="Avvia calibrazione volto" onclick="startCalibration(this, {{ form.name.data }}, {{ form.surname.data }}, {{ goal.id }}, {{ form.mail.data }});" autocomplete="off" />
			<input class="btn btn-default" type="button" value="Ritorna al menù principale" onclick="window.location='/index';" />
			<span class="stretch"></span>
		</div>
	</div>
	<script>
		setImageSource();
	</script>
{% endblock %}